.launch-detail {
	color: white; 
	width: 80vw;
  margin: 2em auto;	
}

.launch-detail h1 {
	font-family: 'Montserrat', sans-serif;
  font-size: 32px;
	font-weight: 500;
  text-align: left;
	text-transform: uppercase;	
	opacity: 0.8; 
	margin-bottom: 0.5em;
}

.launch-detail-card-header {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	border-left: 5px solid #008000;
	color: #008000;
	letter-spacing: 0.5px;
	background-color: #06344e;
	font-weight: 600;
}

.launch-detail-card-body {
	padding: 1em;
	height: 35vh;
	background: linear-gradient(to top, rgba(0, 83, 136, 0.65) 0%, rgba(0, 83, 136, 0) 100%);
	color: rgb(204, 204, 204);
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
  align-items: center;
}

.launch-detail-img img {
	width: 200px;
	height: 200px;
}

.launch-detail-text {
	padding: 0 3em;
	width: 55%;
	text-align: left;
	min-width: 30em;
}

.launch-detail-text h3 {
	color: #e4b431;
	padding-bottom: 10px;
}

.launch-detail-info {
	margin-top: 2em;
	font-family: 'Noto Sans KR', sans-serif;	
	background: linear-gradient(to top, rgba(0, 83, 136, 0.65) 0%, rgba(0, 83, 136, 0) 100%);
	color: rgb(204, 204, 204);		
}

.info-table{
	padding-top: 1em;
	padding-left: 2em;
	width: 18em;
	min-width: 20em;
}

.info-table-float {
	display: flex;
	border-bottom: 1px dotted #008000;
}

.launch-detail-info-name {
	color: #e4b431;
	width: 10em;
	text-align: left;
	padding-bottom: 5px;
}

.back-button a{
	text-decoration: none;
	color: #e4b431;
}

.back-button {
	text-align: right;
	padding-right: 1em;
}

.launch-detail-successful {
	color: 1px dotted #008000;
}

.laulaunch-detail-not-successful {
	color:red;
}




  
